<% content_for :title, "Accueil | Raidators" %>
<header>
  <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active ">
        <div class="view">
          <%= image_tag("home_page/EuropRaid-2017-051.jpg", class:"card-img-top", alt:"Card image cap") %>
          <div class="banner-filter">
          </div>
        </div>
        <div class="carousel-caption">
          <h1 class="title-carousel-raidators text-white">La solidarité n'a pas de frontière</h1>
          <div class="col d-none d-md-block">
            <p class="paragraph-carousel-raidators col d-none d-md-block">Les Raidators souhaitent récolter des dons divers afin de les distribuer à travers l’Europe en 2021. <br> Particuliers comme professionnels ont un rôle essentiel dans cette démarche.</p>
            <%= link_to 'Nous soutenir', products_path, class: "btn btn-success btn-raidators text-white p-2 mx-0"%>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <!--Mask color-->
        <div class="view">
          <%= image_tag("home_page/EuropRaid-2019-071.jpg", class:"card-img-top", alt:"Card image cap") %>
          <div class="banner-filter">
          </div>
        </div>
        <div class="carousel-caption">
          <h1 class="title-carousel-raidators text-white">La solidarité n'a pas de frontière</h1>
          <div class="col d-none d-md-block">
            <p class="paragraph-carousel-raidators col d-none d-md-block">Les Raidators souhaitent récolter des dons divers afin de les distribuer à travers l’Europe en 2021.<br> Particuliers comme professionnels ont un rôle essentiel dans cette démarche.</p>
            <%= link_to 'Nous soutenir', products_path, class: "btn btn-success  btn-raidators text-white p-2 mx-0"%>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <!--Mask color-->
        <div class="view">
          <%= image_tag("home_page/EuropRaid-2019-038.jpg", class:"card-img-top", alt:"Card image cap") %>
          <div class="banner-filter">
          </div>
        </div>
        <div class="carousel-caption">
          <h1 class=" title-carousel-raidators text-white">La solidarité n'a pas de frontière</h1>
          <div class="col d-none d-md-block">
            <p class="paragraph-carousel-raidators col d-none d-md-block">Les Raidators souhaitent récolter des dons divers afin de les distribuer à travers l’Europe en 2021. <br> Particuliers comme professionnels ont un rôle essentiel dans cette démarche.</p>
            <%= link_to 'Nous soutenir', products_path, class: "btn btn-success  btn-raidators text-white p-2 mx-0"%>
          </div>
        </div>
      </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
</header>

<section>
  <div class="container">
    <div>
      <h2 class="text-left mb-5">L'Équipe Raidators participe à Europ.Raid</h2>
      <h3 class="text-left mb-5">Le premier raid aventure en Europe</h3>
    </div>
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <!-- Card -->
        <div class="card small-card-raidators">
          <!-- Card image -->
          <td><i class="mt-5 text-center fas fa-users fa-5x"></i></td>      
          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h3 class="black-text">3 coéquipiers</h3>
            <!-- Text -->
            <p class="card-title text-muted font-small mt-3 mb-2">3 coéquipier se sont engagés à livrer 70 kg de matériel en voiture dans des écoles isolées d'Europe. Pour atteindre leur objectif, l'équipe Raidators a besoin de votre soutien.</p>       
            <div class="card-product-aligment-center">
              <%= link_to "Découvrir l'équipe", equipe_path, class: "btn btn-success btn-raidators text-white p-2 mx-0", target:"_blank"%>
            </div>
          </div>
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
        <!-- Card -->
        <div class="card small-card-raidators">
          <!-- Card image -->
          <i class="mt-5 text-center fas fa-globe-europe fa-5x"></i>
          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h3 class="black-text">20 pays en 23 jours</h3>
            <!-- Text -->
            <p class="card-title text-muted font-small mt-3 mb-2">Un itinéraire traversant des capitales et patrimoines mondiaux inscrits à l’UNESCO. Un parcours de 450 km par jour, avec seulement une boussole, une carte et un carnet de bord.<br>Une aventure !</p>
            <br>
          </div>
        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-0">
        <!-- Card -->
        <div class="card small-card-raidators">
          <!-- Card image -->
          <i class=" mt-5 text-center fas fa-hands-helping fa-5x"></i>
          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h3 class="black-text"> Tous solidaires</h3>
            <!-- Text -->
            <p class="card-title text-muted font-small mt-3 mb-2">En six ans, Europ.Raid a distribué plus de 65 tonnes de matériel scolaire, sportif et médical dans des écoles isolées en Europe. Chaque voiture transporte 70Kg de matériel !</p>            <br>
            <br>            
          </div>
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->
    </div>  
  </div>
</section>

<section class="light-background-raidators">
  <div class="container mt-5">
    <!--Container: Content-->
    <!-- container heading -->
    <h2 class="text-left mb-5">Une aventure solidaire</h2>
    <p class="text-left mb-5">Pour pouvoir aider des miliers d’élèves défavorisés, l’équipage Raidators a besoin de soutien. Entreprises, particulier ou écoles, chacun peut contribuer pour construire un monde meilleur. </p>
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-6 col-md-12 mb-lg-3 mb-4">
        <!-- Card -->
        <div class="card small-card-raidators">
          <!-- Card image -->
          <%= image_tag("home_page/professionnal.png", class:"card-img-top top-corner-radius-card-image-raidators", alt:"Card image cap") %>            
            <!-- Card content -->
            <div class="card-body">
  
              <!-- Title -->
              <h3 class="black-text">Je suis un.e professionnel</h3>
              <!-- Text -->
              <p class="card-title text-muted font-small mt-3 mb-2">Devenez partenaire ! <br> Financier ou en nature, vous pouvez soutenir la cause. <br> </p>                
              <%= link_to 'Devenir un partenaire', partenariat_path, class: "btn btn-success btn-raidators text-white p-2 mx-0"%>                    
            </div>   
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-6 col-md-12 mb-lg-3 mb-4">
        <!-- Card -->
        <div class="card small-card-raidators">
          <!-- Card image -->
          <%= image_tag("home_page/particular.png", class:"card-img-top top-corner-radius-card-image-raidators", alt:"Card image cap") %>
          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h3 class="black-text">Je suis un particulier</h3>
            <!-- Text -->
            <p class="card-title text-muted font-small mt-3 mb-2">Soutenez Europ.Raid en achetant un produit ou en faisant un don de matériel ! <br></p>          
            <%= link_to 'Soutenir en tant que particulier', dons_path, class: "btn btn-success btn-raidators text-white p-2 mx-0"%>                  
          </div>
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->      
    </div>
  </div>
  <!--Section: Content-->
</section>

<section>
  <div class="container">
    <div>
      <h2 class="text-left mb-5"> L'initiative Europ.Raid</h2>
      <p class="text-left mb-5">Un raid qui réunit des centaines d'équipes telles que les Raidators chaque année.</p>
    </div>
    <!--Section: Content-->
    <section>       
      <!-- Grid row -->
      <div class="row align-items-center">  
        <!-- Grid column -->
        <div class="col-lg-5">
          <!-- Featured video -->
          <%= video_tag "video_humanity.mp4", :controls => true, class:"content-full-size-div-raidator card-with-right-left-image-raidators" %>  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-lg-7"> 
          <!-- Category -->
          <i class="fas fa-dumbbell fa-2x"></i>        
          <!-- Post title -->
          <h3 class="mb-3"><strong>Une aventure sportive</strong></h3>
          <!-- Excerpt -->
          <p>L’ Europ’Raid est le premier Raid-Aventure d’ Europe. Il organise cette action dans les pays de l’Europe de l’Est depuis 2014.
            Ce raid consiste à traverser 20 pays de l’Europe en Peugeot 205 pendant 23 jours. L’équipage parcourra 10 000 kilomètres afin de  distribuer du matériel  dans des écoles et orphelinats locaux d’Europe de l’Est pour aider les enfants défavorisés.</p>
          <!-- Read more button -->
          <%= link_to "Faire un don de matériel", equipements_path, class:"btn btn-success  btn-raidators btn-md btn-rounded mx-0" %>   
        </div>
        <!-- Grid column --> 
      </div>
      <!-- Grid row -->  
      <hr class="my-5">      
    </section>
    <!--Section: Content-->  
  </div>

  <div class="container">
    <!--Section: Content-->
    <section >        
      <!-- Grid row -->
      <div class="row align-items-center"> 
        <!-- Grid column -->
        <div class="col-lg-7">  
          <!-- Category -->
          <i class="fas fa-hands-helping fa-2x"></i>      
          <!-- Post title -->
          <h3 class="mb-3"><strong>Une aventure humaine</strong></h3>
          <!-- Excerpt -->
          <p>Europ’Raid est une aventure sportive et culturelle mais c'est surtout une action solidaire hors du commun.
            Le but premier est de venir en aide à des enfants défavorisés d’Europe de l’Est. En effet, depuis 2014 tous les équipages ont pour mission d’apporter 70 kg de fournitures scolaires.</p>
          <!-- Read more button -->
          <%= link_to "Faire un achat solidaire ou don", products_path, class:"btn btn-success btn-raidators btn-md btn-rounded mx-0" %> 
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-5 col d-none d-md-block"> 
          <!-- Featured image -->
          <div class="view mb-lg-0 mb-4">
            <%= image_tag("home_page/children.png", class:"card-img-top card-with-right-left-image-raidators", alt:"Card image cap") %>               
          </div> 
        </div>
        <!-- Grid column --> 
      </div>
      <!-- Grid row -->     
    </section>
    <!--Section: Content-->  
  </div>
</section>

<section class="light-background-raidators">
  <div class="container"> 
    <!-- Section heading -->
    <h3 class="black-text mb-4 pb-2">Ils nous soutiennent</h3>
    <hr class="w-header">
    <!-- Section description -->
    <p class="lead text-muted mx-auto mt-4 pt-2 mb-5">Cette aventure ne serait pas possible sans le soutien de nos partenaires. Entreprise ou particulier, chaque soutien compte. </p>
    <!--First row-->
    <div class="row">

      <%= link_to 'Soyez 1er partenaire', partenariat_path, class: "btn btn-success btn-raidators text-white p-2 mx-0"%>

      <!--Premier logo-->

      <!--<div class="col-md-3 mb-4">
        <div class="card card-rounded-raidators">
          <div class="card-body my-4 ">
            <%= image_tag("home_page/scootcoot.png", class:"card-img-top", alt:"Card image cap") %>                 
          </div>
        </div>   
      </div> -->

      <!--Second logo-->
      <!--<div class="col-md-3 mb-4">
        <div class="card card-rounded-raidators">          
          <div class="card-body my-4">
            <%= image_tag("home_page/euronext.png", class:"card-img-top", alt:"Card image cap") %>                             
          </div>
        </div>
      </div>-->     
      
      <!--Third logo-->
      <!--<div class="col-md-3 mb-4">
        <div class="card card-rounded-raidators">         
          <div class="card-body my-4">
            <%= image_tag("home_page/ansys.png", class:"card-img-top", alt:"Card image cap") %>                 
          </div>
        </div>
      </div>-->

      <!--Fourth logo-->
      <!--<div class="col-md-3 mb-4">
        
        <div class="card card-rounded-raidators">          
          <div class="card-body my-4">
            <%= image_tag("home_page/thoughtworks.png", class:"card-img-top", alt:"Card image cap") %>                           
          </div>
        </div>
    
      </div>-->

    </div>
    <!--First row-->
  </div>
</section>

  


