
<% content_for :title, "Sponsoring | Raidators" %>

<%= render :partial => "shared/banner" %>


<section>
  <div class="container">
    <div>
      <h2 class="text-left mb-5">Pourquoi devenir partenaire ?</h2>
      <p class="text-left  mb-5"> Depuis sa création en 2014, Europ'Raid a déjà distribué plus de 65 tonnes de matériel scolaire sportif et médical qui ont été distribuées dans une vingtaine d’écoles situées en Bosnie-Herzégovine, Albanie, Macédoine, Bulgarie et Roumanie. En six ans, l’aide solidaire des équipages de Europ’Raid est ainsi passée de plusieurs centaines de kilogrammes à plusieurs dizaines de tonnes chaque année. En tant qu’entreprise, vous pouvez contribuer au succès de l’édition 2021 et contribuer à rendre plus accessible l’éducation.</p>
    </div>

    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

        <!-- Card -->
        <div class="card small-card-raidators card-product-aligment-center">

          <!-- Card image -->
          <td><i class="mt-5 text-center fas fa-users fa-5x"></i></td>      
          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h3 class="black-text">Couverture médiatique</h3>
            <!-- Text -->
            <p class="card-title text-muted font-small mt-3 mb-2"> Faites voyager votre logo dans toute l'Europe ! Europ.Raid vous permettra de travailler votre image de marque en diffusant votre logo à travers toute l’Europe : 200 points d'étapes, 20 pays traversés dont 10 capitales et 100 patrimoines mondiaux inscrits à l'UNESCO ! Voyagez pendant 22 jours avec les Raidators.  </p>
          

          </div>

        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-md-0 mb-4">

        <!-- Card -->
        <div class="card small-card-raidators card-product-aligment-center">

          <!-- Card image -->
          <i class="mt-5 text-center fas fa-globe-europe fa-5x"></i>

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h3 class="black-text">Marque <br> employeur</h3>
            <!-- Text -->
            <p class="card-title text-muted font-small mt-3 mb-2"> Associez votre entreprise à un projet solidaire et sportif ! Les Raidators vont parcourir 10 000km en 22 jours avec une carte et une boussole ! Une véritable aventure sportive. Leur objectif est solidaire : livrer 70kg de matériel aux écoles défavorisées en Europe de l’Est. </p>
            <br>
          </div>

        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-0">

        <!-- Card -->
        <div class="card small-card-raidators card-product-aligment-center">

          <!-- Card image -->
          <i class=" mt-5 text-center fas fa-hands-helping fa-5x"></i>

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h3 class="black-text"> Culture d'entreprise</h3>
            <!-- Text -->
            <p class="card-title text-muted font-small mt-3 mb-2">Renforcez votre engagement collaborateur en impliquant votre équipe dans un événement fédérateur et aux fortes valeurs sociales. Les collaborateurs peuvent suivre l’aventure et contribuer en faisant des dons de fournitures scolaires, sportives ou médicales.</p>
            <br>
          </div>

        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->
    </div>
    <br>
    <div class=" mb-lg-0 my-4  card-product-aligment-center">
      <%= link_to 'Télécharger le dossier de sponsoring', asset_path('partnership/Dossier_sponsoring_Raidators.pdf'),class:"btn btn-success btn-raidators", target:"_blank"%>
    </div>
  
  </div>
</section>

<section class="light-background-raidators">
  <div class="container mt-5">

    <!--Section: Content-->
    <section>
  
      <!-- Section heading -->
      <h3 class="black-text mb-4 pb-2"><strong>Couverture médiatique</strong></h3>
      <!-- Section description -->
      <p class="lead text-muted mx-auto mt-4 pt-2 mb-5">L’Europ’Raid bénéficie désormais d'une large médiatisation au niveau local, régional et même national. Profitant de la communication que réalise chaque équipage à travers les réseaux sociaux, la radio et la presse aussi bien avant, pendant et après le parcours, de plus en plus de professionnels et collectivités s'y associent.Ils parlent de l'Europ'raid :</p>
  
      <!--First row-->
      <div class="row">
  
        <!--Grid column-->
        <div class="col-md-3 mb-4">
  
          <!-- Card -->
          <div class="card card-rounded-raidators">
            <!-- Card content -->
            <div class="card-body my-4">

              <%= image_tag("partnership/Logo_France_3.png", class:"card-img-top ", alt:"Card image cap") %>               
              
            </div>
          </div>  
          
          <!-- Card -->
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-3 mb-4">
  
          <!-- Card -->
          <div class="card card-rounded-raidators">
            
            <!-- Card content -->
            <div class="card-body my-4">
              <%= image_tag("partnership/Logo_Le_Figaro_Etudiant.png", class:"card-img-top", alt:"Card image cap") %>               
                  
            </div>
  
          </div>
          <!-- Card -->
  
        </div>
        <!--Grid column-->
        
        <!--Grid column-->
        <div class="col-md-3 mb-4">
  
          <!-- Card -->
          <div class="card card-rounded-raidators">
            
            <!-- Card content -->
            <div class="card-body my-4">
              <%= image_tag("partnership/Logo_NRJ.png", class:"card-img-top", alt:"Card image cap") %>               
                
            </div>
  
          </div>
          <!-- Card -->
  
        </div>
        <!--Grid column-->
        
        <!--Grid column-->
        <div class="col-md-3 mb-4">
  
          <!-- Card -->
          <div class="card card-rounded-raidators">
            
            <!-- Card content -->
            <div class="card-body my-4">
              <%= image_tag("partnership/Logo_Ouest-France.png", class:"card-img-top", alt:"Card image cap") %>               
              
            </div>

          </div>
          <!-- Card -->


  
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 mb-4">
  
          <!-- Card -->
          <div class="card card-rounded-raidators">
            <!-- Card content -->
            <div class="card-body my-4">
              <%= image_tag("partnership/Logo_Parisien.png", class:"card-img-top", alt:"Card image cap") %>               
            </div>
          </div>
          <!-- Card -->
        </div>
          
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 mb-4">
  
          <!-- Card -->
          <div class="card card-rounded-raidators">
            
            <!-- Card content -->
            <div class="card-body my-4">
              <%= image_tag("partnership/Logo_Virgin_Radio.png", class:"card-img-top", alt:"Card image cap") %>               
              
            </div>
  
          </div>
          <!-- Card -->

        </div>
        <!--Grid column-->

  
      </div>
      <!--First row-->
  
    </section>
  
  </div>
</section>
  
<section>
  <div class="container mt-5">

    <!--Section: Content-->
    <section>
      <!-- Grid row -->
      <div class="row align-items-center">
  
        <!-- Grid column -->
        <div class="col-lg-5">
  
          <!-- Featured Image -->
          <div class=" mb-lg-0 mb-4">
            <%= image_tag("partnership/205.png", class:"card-img-top card-with-right-left-image-raidators", alt:"Card image cap") %>
        
          </div>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-lg-7">
  
          <!-- Category -->
          <i class="fas fa-project-diagram fa-2x"></i>

          <!-- Post title -->
          <h3 class="mb-3"><strong>Marque employeur</strong></h3>
          <!-- Excerpt -->
          <p>L’Europ.Raid est une opportunité d’accroitre la visibilité de votre marque employeur.
            La carrosserie de la 205 est réservée aux encarts publicitaires de nos sponsors, avec des emplacements différents selon le type de partenariat. Votre entreprise peut choisir l'emplacement qui lui convient, parmi ceux disponibles et être visible à travers 20 pays et 10 capitales.
          </p>
          <!-- Read more button -->
          <%= link_to 'Découvrir la voiture et ses emplacements disponibles', car_path, class:"btn btn-success btn-raidators", target:"_blank"%>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
    </section>
  </div>
</section>


<section class="light-background-raidators">
  <div class="container mt-5">
    <!--Section: Content-->
    <section>
      <!-- Grid row -->
      <div class="row align-items-center">
  
        <!-- Grid column -->
        <div class="col-lg-7">
  
          <!-- Category -->
          <i class="fas fa-hands-helping fa-2x"></i>
          
          <!-- Post title -->
          <h3 class="mb-3"><strong>Faire un don de matériel</strong></h3>
          <!-- Excerpt -->
          <p>Vous ne pouvez pas devenir sponsor financier ? Vous pouvez nous aider d’une autre manière ! 
          Récoltez du matériel, équipez-nous pour le raid (équipements numériques, camping) ou permettez-nous de revendre vos produits sur notre plateforme.
          </p>
          <!-- Read more button -->
          <%= link_to 'Faire un don matériel', equipements_path, class:"btn btn-success btn-raidators",  target:"_blank"%>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-5 col d-none d-md-block">
  
          <!-- Featured image -->
          <div class=" mb-lg-0 mb-4 ">
            <%= image_tag("partnership/don_materiel.png", class:"card-img-top card-with-right-left-image-raidators", alt:"Card image cap") %>
            
          </div>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->

    </section>

  </div>
</section>
