   <%= render :partial => "shared/banner" %>

    <div class="container mt-5">

      <!--Section: Content-->
      <section class="">

        <h2 class="text-left font-weight-bold mb-5">Pourquoi devenir Partenaire ?</h2>


        <div class="row mb-3">
          <div class="col-6 themed-grid-col">
            <p class="text-left font-weight-bold mb-3 mt-5">Depuis sa création en 2014, Europ'Raid a déjà distribué plus de 65 tonnes de matériel scolaire sportif et médical qui ont été distribuées dans une vingtaine d’écoles situées en Bosnie-Herzégovine, Albanie, Macédoine, Bulgarie et Roumanie. En six ans, l’aide solidaire des équipages de Europ’Raid est ainsi passée de plusieurs centaines de kilogrammes à plusieurs dizaines de tonnes chaque année. En tant qu’entreprise, vous pouvez contribuer au succès de l’édition 2021 et contribuer à rendre  plus accessible l’éducation.
            </p>

            <button type="button" class="btn btn-success text-white p-10 mx-5">Telecharger le dossier de sponsoring</button>

          </div>
          <div class="col-6 themed-grid-col">
            <h3 class="text-left font-weight-bold mb-3"><strong>Couverture médiatique</strong></h3>
            <p class="text-left font-weight-bold mb-5">Faite voyager votre logo dans toute l'Europe ! Europ.Raid vous permettra de travailler votre image de marque en diffusant votre logo à travers l’Europe : 200 points d'étapes, 20 pays traversés dont 10 capitales et 100 patrimoines mondiaux inscrits à l'UNESCO, le tout en seulement 22 jours.
            </p>



          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6 themed-grid-col">
            <h3 class="text-left font-weight-bold mb-3 mt-5"><strong>Marque employeur : cause solidaire, action RSE </strong></h3>
            <p class="text-left font-weight-bold mb-5">Associez votre entreprise à un projet solidaire et sportif.
            </p>


          </div>
          <div class="col-6 themed-grid-col">
            <h3 class="text-left font-weight-bold mb-3 mt-5"><strong>Culture d’entreprise</strong></h3>
            <p class="text-left font-weight-bold mb-5">Renforcez votre engagement collaborateurs en impliquant votre équipe dans un événement fédérateur et aux fortes valeurs sociales. Les collaborateurs peuvent suivre l’aventure et contribuer en faisant don de fournitures scolaires, sportives ou médicales.
            </p>

          </div>
        </div>
    
       

      </section>
      <!--Section: Content-->
    </div>

    <div class="container mt-5">


      <!--Section: Content-->
      <section class="dark-grey-text">
          
        <!-- Grid row -->
        <div class="row align-items-center">
    
          <!-- Grid column -->
          <div class="col-lg-5">
    
            <!-- Featured Image -->
            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
              <%= image_tag("partnership/205.png", class:"card-img-top", alt:"Card image cap") %>
         
            </div>
    
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-lg-7">
    
            <!-- Category -->
            <i class="fas fa-project-diagram"></i>

            <!-- Post title -->
            <h3 class="font-weight-bold mb-3"><strong>Marque employeur</strong></h3>
            <!-- Excerpt -->
            <p>L’Europ.Raid est une opportunité d’accroitre la visibilité de votre marque employeur.
              La carrosserie de la 205 est réservée aux encarts publicitaires de nos sponsors, avec des emplacements différents selon le type de partenariat. Votre entreprise peut choisir l'emplacement qui lui convient, parmi ceux disponibles et être visible à travers 20 pays et 10 capitales.
            </p>
            <!-- Read more button -->
            <button type="button" class="btn btn-success text-white p-10 mx-5">Découvrir la voiture et ses emplacements disponibles</button>
    
          </div>
          <!-- Grid column -->
    
        </div>
        <!-- Grid row -->

        <hr class="my-5">


    
        
      </section>
      <!--Section: Content-->

      <section class="dark-grey-text text-left">
    
        <!-- Section heading -->
        <h3 class="font-weight-bold black-text mb-4 pb-2"><strong>Couverture médiatique</strong></h3>
        <hr class="w-header">
        <!-- Section description -->
        <p class="lead text-muted mx-auto mt-4 pt-2 mb-5">L’Europ’Raid bénéficie désormais d'une large médiatisation au niveau local, régional et même national. Profitant de la communication que réalise chaque équipage à travers les réseaux sociaux, la radio et la presse aussi bien avant, pendant et après le parcours, de plus en plus de professionnels et collectivités s'y associent.Ils parlent de l'Europ'raid :</p>
    
        <!--First row-->
        <div class="row">
    
          <!--Grid column-->
          <div class="col-md-3 mb-4">
    
            <!-- Card -->
            <div class="card ">
              <!-- Card content -->
              <div class="card-body my-4">

                <%= image_tag("partnership/Logo_France_3.png", class:"card-img-top", alt:"Card image cap") %>               
                
              </div>
            </div>  
            
            <!-- Card -->
    
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-md-3 mb-4">
    
            <!-- Card -->
            <div class="card">
              
              <!-- Card content -->
              <div class="card-body my-4">
                <%= image_tag("partnership/Logo_Le_Figaro_Etudiant.png", class:"card-img-top", alt:"Card image cap") %>               
                   
              </div>
    
            </div>
            <!-- Card -->
    
          </div>
          <!--Grid column-->
          
          <!--Grid column-->
          <div class="col-md-3 mb-4">
    
            <!-- Card -->
            <div class="card">
              
              <!-- Card content -->
              <div class="card-body my-4">
                <%= image_tag("partnership/Logo_NRJ.png", class:"card-img-top", alt:"Card image cap") %>               
                  
              </div>
    
            </div>
            <!-- Card -->
    
          </div>
          <!--Grid column-->
          
          <!--Grid column-->
          <div class="col-md-3 mb-4">
    
            <!-- Card -->
            <div class="card hoverable">
              
              <!-- Card content -->
              <div class="card-body my-4">
                <%= image_tag("partnership/Logo_Ouest-France.png", class:"card-img-top", alt:"Card image cap") %>               
                
              </div>
    
            </div>
            <!-- Card -->


    
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-3 mb-4">
    
            <!-- Card -->
            <div class="card hoverable">
              
              <!-- Card content -->
              <div class="card-body my-4">
                <%= image_tag("partnership/Logo_Parisien.png", class:"card-img-top", alt:"Card image cap") %>               
                
              </div>
    
            </div>
            <!-- Card -->

            
    
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-3 mb-4">
    
            <!-- Card -->
            <div class="card hoverable">
              
              <!-- Card content -->
              <div class="card-body my-4">
                <%= image_tag("partnership/Logo_Virgin_Radio.png", class:"card-img-top", alt:"Card image cap") %>               
                
              </div>
    
            </div>
            <!-- Card -->

            
    
          </div>
          <!--Grid column-->


    
        </div>
        <!--First row-->
    
      </section>

    
    
    </div>

   


    <div class="container mt-5">
      <!--Section: Content-->
      <section class="dark-grey-text">
          
        <!-- Grid row -->
        <div class="row align-items-center">
    
          <!-- Grid column -->
          <div class="col-lg-7">
    
            <!-- Category -->
            <i class="fas fa-hands-helping"></i>
           
            <!-- Post title -->
            <h3 class="font-weight-bold mb-3"><strong>Partenariat matériel ou nature</strong></h3>
            <!-- Excerpt -->
            <p>Vous ne pouvez pas devenir sponsor financier ? Vous pouvez nous aider d’une autre manière ! 
              Récoltez du matériel caritatif ou sponsorisez-nous en nous permettant de revendre vos produits sur notre plateforme, ou en nous équipant pour le raid (équipement numériques, camping
              </p>
            <!-- Read more button -->
            <button type="button" class="btn btn-success text-white p-10 mx-5">Partenariat nature</button>
            <button type="button" class="btn btn-success text-white p-10 mx-5">Nous contacter</button>

    
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-5">
    
            <!-- Featured image -->
            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
              <%= image_tag("partnership/don_materiel.png", class:"card-img-top", alt:"Card image cap") %>
             
            </div>
    
          </div>
          <!-- Grid column -->
    
         
    
        </div>
        <!-- Grid row -->
    
        <hr class="my-5">

        
      </section>
      <!--Section: Content-->
    
    
    </div>

