    <header>
      <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-2" data-slide-to="1"></li>
          <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active ">
            <div class="view">
             
              <div class="mask rgba-black-light">
              <%= image_tag("home_page/EuropRaid-2017-051.jpg", class:"card-img-top", alt:"Card image cap") %>
              
              </div>
            </div>
            <div class="carousel-caption">
              <h1 class="h3-responsive text-white">La solidarité n'a pas de frontière</h1>

              <p>Les Raidators souhaitent récolter des dons divers afin de les distribuer à travers l’Europe en 2021. Particuliers comme professionnels ont un rôle essentiel dans cette démarche.</p>

            </div>
          </div>
          <div class="carousel-item ">
            <!--Mask color-->
            <div class="view">
              <%= image_tag("home_page/EuropRaid-2019-071.jpg", class:"card-img-top", alt:"Card image cap") %>
              
              <div class="mask rgba-black-strong"></div>
            </div>
            <div class="carousel-caption">
              <h1 class="h3-responsive text-white">La solidarité n'a pas de frontière</h1>
              <p>Les Raidators souhaitent récolter des dons divers afin de les distribuer à travers l’Europe en 2021. Particuliers comme professionnels ont un rôle essentiel dans cette démarche.</p>
            </div>
          </div>
          <div class="carousel-item ">
            <!--Mask color-->
            <div class="view">
              <%= image_tag("home_page/EuropRaid-2019-038.jpg", class:"card-img-top", alt:"Card image cap") %>

              <div class="mask rgba-black-slight"></div>
            </div>
            <div class="carousel-caption">
              <h1 class="h3-responsive text-white">La solidarité n'a pas de frontière</h1>
              <p>Les Raidators souhaitent récolter des dons divers afin de les distribuer à travers l’Europe en 2021. Particuliers comme professionnels ont un rôle essentiel dans cette démarche.</p>
            </div>
          </div>
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
      </div>

      
    
    </header>

    <section>

      <div class="container mt-5">
        <section class="">
      
          <!-- Section heading -->
          <h2 class="text-left font-weight-bold mb-5">Europ'Raid</h2>
          <h3 class="text-left font-weight-bold mb-5">Premier raid aventure en Europe</h3>

      
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
      
              <!-- Card -->
              <div class="card hoverable">
      
                <!-- Card image -->
                <td><i class="text-center fas fa-users fa-5x"></i></td>      
                <!-- Card content -->
                <div class="card-body">
      
                  <!-- Title -->
                  <h3 class="black-text">3 coéquipiers</h3>
                  <!-- Text -->
                  <p class="card-title text-muted font-small mt-3 mb-2">3 coéquipier se sont engagé à livrer 70 kg de matériel en voiture  soit au minimum 36 tonnes de fournitures scolaires et sportives distribuées dans une vingtaines d’écoles de l’Est isolées.</p>
                  
                  <button type="button" class="btn btn-success text-white p-2 mx-0">En savoir plus</button>
                  
                </div>
      
              </div>
              <!-- Card -->
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
      
              <!-- Card -->
              <div class="card hoverable">
      
                <!-- Card image -->
                <i class="text-center fas fa-globe-europe fa-5x"></i>

                <!-- Card content -->
                <div class="card-body">
      
                  <!-- Title -->
                  <h3 class="black-text">20 pays en 23 jours</h3>
                  <!-- Text -->
                  <p class="card-title text-muted font-small mt-3 mb-2">Un itinéraire traversant de capitales et patrimoines mondiaux inscrits à l’UNESCO, mais aussi des rencontres.</p>
                  
                  <button type="button" class="btn btn-success text-white p-2 mx-0">En savoir plus</button>
                  
                </div>
      
              </div>
              <!-- Card -->
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-0">
      
              <!-- Card -->
              <div class="card hoverable">
      
                <!-- Card image -->
                <i class="text-center fas fa-route fa-5x"></i>

                <!-- Card content -->
                <div class="card-body">
      
                  <!-- Title -->
                  <h3 class="black-text">10 000 Kilomètres</h3>
                  <!-- Text -->
                  <p class="card-title text-muted font-small mt-3 mb-2">Un parcours d'au moins 450 km par jour,avec seulement une boussole, une carte et un carnet de bord.</p>
                  
                  <button type="button" class="btn btn-success text-white p-2 mx-0">En savoir plus</button>
                  
                </div>
      
              </div>
              <!-- Card -->
      
            </div>
            <!-- Grid column -->
          </div>
        </section>
      </div>

      <div class="container mt-5">


        <!--Section: Content-->
        <section class="">
      
          <!-- Section heading -->
          <h2 class="text-left font-weight-bold mb-5">Une aventure solidaire</h2>
          <p class="text-left font-weight-bold mb-5">Pour atteindre l’objectif et pouvoir aider des miliers d’élèves défavorisés, l’équipage Raidators a besoin de soutient. Entreprises, particulier ou écoles, chacun peut contribuer pour construire un monde meilleur. </p>
  
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-lg-6 col-md-12 mb-lg-3 mb-4">
      
              <!-- Card -->
              <div class="card hoverable">
      
                <!-- Card image -->
                <%= image_tag("home_page/professionnal.png", class:"card-img-top", alt:"Card image cap") %>
                  
                  <!-- Card content -->
                  <div class="card-body">
        
                    <!-- Title -->
                    <h3 class="black-text">Je suis une professionnel</h3>
                    <!-- Text -->
                    <p class="card-title text-muted font-small mt-3 mb-2">Devenez partenaire ! Financier ou en nature, vous pouvez soutenir la cause !</p>
                    
                    <button type="button" class="btn btn-success text-white p-2 mx-0">Devenir partenaire entreprise</button>
                    
                  </div>   

              </div>
              <!-- Card -->
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-lg-6 col-md-6 mb-md-3 mb-4">
      
              <!-- Card -->
              <div class="card hoverable">
      
                <!-- Card image -->
                <%= image_tag("home_page/particular.png", class:"card-img-top", alt:"Card image cap") %>
      
                <!-- Card content -->
                <div class="card-body">
      
                  <!-- Title -->
                  <h3 class="black-text">Je suis un particulier</h3>
                  <!-- Text -->
                  <p class="card-title text-muted font-small mt-3 mb-2">Soutenez Europ.Raid en achetant un produits ou en faisant un don de matériel !</p>
                  
                  <button type="button" class="btn btn-success text-white p-2 mx-0">Soutenir en tant que particuliers</button>
                  
                </div>
      
              </div>
              <!-- Card -->
      
            </div>
            <!-- Grid column -->
            
          </div>

        </section>
        <!--Section: Content-->
      </div>
      
      <div class="container mt-5">


        <!--Section: Content-->
        <section class="dark-grey-text">
            
          <!-- Grid row -->
          <div class="row align-items-center">
      
            <!-- Grid column -->
            <div class="col-lg-5">
      
              <!-- Featured video -->
              <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
              <%= video_tag "video_humanity.mp4", :size => "420x315", :controls => true %>          
                  
              </div>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-lg-7">
      
              <!-- Category -->
               <i class="fas fa-dumbbell"></i>
             
              <!-- Post title -->
              <h3 class="font-weight-bold mb-3"><strong>Une aventure sportive</strong></h3>
              <!-- Excerpt -->
              <p>L’ Europ’Raid est le premier Raid-Aventure d’ Europe. Il organise cette action dans les pays de l’Europe de l’Est depuis 2014.
                Ce raid consiste à traverser 20 pays de l’Europe en Peugeot 205 pendant 23 jours. L’équipage parcourra 10 000 kilomètres afin de  distribuer du matériel  dans des écoles et orphelinats locaux d’Europe de l’Est pour aider les enfants défavorisés.</p>
              <!-- Read more button -->
              <a class="btn btn-success btn-md btn-rounded mx-0">Nous soutenir</a>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
          <hr class="my-5">
          
        </section>
        <!--Section: Content-->
      
      
      </div>

      
      <div class="container mt-5">
        <!--Section: Content-->
        <section class="dark-grey-text">
            
          <!-- Grid row -->
          <div class="row align-items-center">
      
            <!-- Grid column -->
            <div class="col-lg-7">
      
              <!-- Category -->
              <i class="fas fa-hands-helping"></i>
             
              <!-- Post title -->
              <h3 class="font-weight-bold mb-3"><strong>Une aventure humaine</strong></h3>
              <!-- Excerpt -->
              <p>Europ’Raid est une aventure sportive, culturelle et solidaire, mais surtout une action humanitaire hors du commun.
                Le but premier est de venir en aide à des enfants défavorisés d’Europe de l’Est. En effet, depuis 2014 tous les équipages ont pour mission d’apporter 70 kg de fournitures scolaires.</p>
              <!-- Read more button -->
              <a class="btn btn-success btn-md btn-rounded mx-0">Nous soutenir</a>
      
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-5">
      
              <!-- Featured image -->
              <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                <%= image_tag("home_page/children.png", class:"card-img-top", alt:"Card image cap") %>               
              </div>
      
            </div>
            <!-- Grid column -->
      
           
      
          </div>
          <!-- Grid row -->
      
          <hr class="my-5">
          
        </section>
        <!--Section: Content-->
      
      
      </div>

      <div class="container my-5">


      <!--Section: Content-->
      <section class="dark-grey-text text-center">
    
        <!-- Section heading -->
        <h3 class="font-weight-bold black-text mb-4 pb-2">Ils nous soutiennent</h3>
        <hr class="w-header">
        <!-- Section description -->
        <p class="lead text-muted mx-auto mt-4 pt-2 mb-5">Cette aventure ne serait possible sans le soutient de nos partenaires. Entreprise ou particulier, chaque soutient compte. </p>
    
        <!--First row-->
        <div class="row">
    
          <!--Grid column-->
          <div class="col-md-3 mb-4">
    
            <!-- Card -->
            <div class="card hoverable">
              <!-- Card content -->
              <div class="card-body my-4">

                <%= image_tag("home_page/logo_1.png", class:"card-img-top", alt:"Card image cap") %>               

                <h3 class="black-text mb-0">Scootcoot</h3>
                
              </div>
            </div>  
            
            <!-- Card -->
    
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-md-3 mb-4">
    
            <!-- Card -->
            <div class="card hoverable">
              
              <!-- Card content -->
              <div class="card-body my-4">
                <%= image_tag("home_page/logo_2.png", class:"card-img-top", alt:"Card image cap") %>               
                   
              </div>
    
            </div>
            <!-- Card -->
    
          </div>
          <!--Grid column-->
          
          <!--Grid column-->
          <div class="col-md-3 mb-4">
    
            <!-- Card -->
            <div class="card hoverable">
              
              <!-- Card content -->
              <div class="card-body my-4">
                <%= image_tag("home_page/logo_3.png", class:"card-img-top", alt:"Card image cap") %>               
                  
              </div>
    
            </div>
            <!-- Card -->
    
          </div>
          <!--Grid column-->
          
          <!--Grid column-->
          <div class="col-md-3 mb-4">
    
            <!-- Card -->
            <div class="card hoverable">
              
              <!-- Card content -->
              <div class="card-body my-4">
                <%= image_tag("home_page/logo_4.png", class:"card-img-top", alt:"Card image cap") %>               
                
              </div>
    
            </div>
            <!-- Card -->
    
          </div>
          <!--Grid column-->
    
        </div>
        <!--First row-->
    
      </section>
      
        
      </div>

    </section>
