<% content_for :title, "Edition profil | Raidators" %>

<!-- Main navigation -->
<div class="container-fluid mt-3 mb-5 light-background-raidators">

  <!-- Full Page Intro -->
  <section class:"image-edit-registration">
    <!-- background -->
    <div class="col-lg-6 col-md-4 form-background-raidators">
      <!-- Content -->
      <div class="container my-5">     
        <h3 class="text-center pb-2">Modifier mon mot de passe</h3>
        <!--Grid row-->
        <div class="row d-flex align-items-center justify-content-center form-background-raidators">
          <!--Grid column-->
          <div class="col-md-6 col-xl-8">
            <!--Form-->
            <div class="card">
              <div class="card-body px-4">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                  <div class="field md-form mt-3">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-control-raidators"  %>
                  </div>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>En attente de confirmation du mail: <%= resource.unconfirmed_email %></div>
                  <% end %>

                  <div class="field md-form mt-3">
                    <%= f.label :password, "Mot de passe" %> <i>(ne pas remplir si vous ne voulez pas changer de mot de passe)</i><br>
                    <%= f.password_field :password, autocomplete: "new-password", class:"field md-form form-control form-control-raidators" %>
                    <% if @minimum_password_length %>
                      <br/>
                      <em><%= @minimum_password_length %> caractères minimum</em>
                    <% end %>
                  </div>

                  <div class="field md-form">
                    <%= f.label :password_confirmation, "Confirmation mot de passe" %><br/>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"field md-form form-control form-control-raidators" %>
                  </div>

                  <div class="field md-form">
                    <%= f.label :current_password, "Mot de passe actuel" %> <i>(Nous avons besoin de votre mot de passe actuel pour confirmer vos changements)</i><br/>
                    <%= f.password_field :current_password, autocomplete: "current-password", class:"field md-form form-control form-control-raidators mt-3" %>
                  </div>

                  <div class="actions my-3">
                    <%= f.submit "Mettre à jour mon mot de passe",class:"btn btn-primary btn-md btn-dark-raidators mx-0" %>
                  </div>
                <% end %>
                <br>
              
                <h3>Supprimer mon compte</h3>
              
                <p>Vous voulez supprimer votre compte? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "êtes-vous sûrs ?" }, method: :delete, class:"btn btn-primary btn-md btn-dark-raidators mx-0" %></p>
              
                <%= link_to "Retour", :back %>
                  
                <%= render "devise/shared/links" %>
              </div>
            </div>
            <!--/.Form-->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!--Fin background-->
  </section>
  <!-- Full Page Intro -->
</div>
