<div class="container my-5">
  <section>
    <!--First row-->
    <div class="row">

      <!--First column-->
      <div class="col-12">

        <!-- Nav tabs -->
        <ul class="nav md-pills flex-center flex-wrap mx-0" role="tablist">
          <li class="nav-item">
            <a class="nav-link active font-weight-bold text-uppercase" data-toggle="tab" href="#panel31" role="tab">Scolaire</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold text-uppercase" data-toggle="tab" href="#panel32" role="tab">Sport & Jeux</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold text-uppercase" data-toggle="tab" href="#panel33" role="tab">Sanitaire</a>
          </li>
        </ul>

      </div>
      <!--First column-->

    </div>
    <!--First row-->

    <!--Tab panels-->

    <div class="tab-content mb-5 align-items-center">

      <!--Panel 1-->
      <div class="tab-pane fade show in active" id="panel31" role="tabpanel">

        <!-- Grid row -->
        <div class="row mx-4 my-4 justify-content-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-3 mx-4">

            <!-- Card -->
            <div class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

              <!-- Card image -->
              <%= image_tag("backpack.jpg", class:"card-img-top", alt:"Card image cap") %> 

              <!-- Card content -->
              <div class="card-body">

                <p class="my-3"> Cartable et sac scolaire</p>
                <p class="card-text text-muted font-small mb-3">Bon état ou neuf</p>

              </div>

            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

              <!-- Card image -->
              <%= image_tag("notebook.jpg", class:"card-img-top", alt:"Card image cap") %> 

              <!-- Card content -->
              <div class="card-body">

                <p class="my-3">Grand cahier A4</p>
                <p class="card-text text-muted font-small mb-3">Petits carreaux si possible</p>

              </div>

            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

              <!-- Card image -->
              <%= image_tag("scissor.png", class:"card-img-top", alt:"Card image cap") %> 
              <!-- Card content -->
              <div class="card-body">

                <p class="my-3"> Accessoires </p>
                <p class="card-text text-muted font-small mb-3">Gomme, colle, scotch, paire de ciseaux, taille-crayons, ruban adhésif</p>

              </div>

            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

              <!-- Card image -->
              <%= image_tag("postit.jpg", class:"card-img-top", alt:"Card image cap") %> 

              <!-- Card content -->
              <div class="card-body">

                <p class="my-3"> Accessoires </p>
                <p class="card-text text-muted font-small mb-3">Marqueurs, stabilos, post-it, Règle en plastique</p>

              </div>

            </div>
            <!-- Card -->

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-3">

            <!-- Card -->
            <div class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

              <!-- Card image -->
              <%= image_tag("gridbook.png", class:"card-img-top", alt:"Card image cap") %> 

              <!-- Card content -->
              <div class="card-body">

                <p class="my-3">Petit cahier A5<p>
                <p class="card-text text-muted font-small mb-3">Petits carreaux si possible</p>

              </div>

            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

              <!-- Card image -->
              <%= image_tag("linebook.png", class:"card-img-top", alt:"Card image cap") %> 

              <!-- Card content -->
              <div class="card-body">

                <p class="my-3">Cahier de brouillon</p>
                <p class="card-text text-muted font-small mb-3">Bon état ou neuf</p>

              </div>

              
            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

              <!-- Card image -->
              <%= image_tag("painting.jpg", class:"card-img-top", alt:"Card image cap") %> 

              <!-- Card content -->
              <div class="card-body">

                <p class="my-3"> Peinture </p>
                <p class="card-text text-muted font-small mb-3">Tube de peinture, pinceaux, feuilles de peinture</p>

              </div>

            </div>
            <!-- Card -->

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-3">

            <!-- Card -->
            <div class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

              <!-- Card image -->
              <%= image_tag("paper.png", class:"card-img-top", alt:"Card image cap") %> 

              <!-- Card content -->
              <div class="card-body">

                <p class="my-3">Feuilles A4 à carreaux </p>
                <p class="card-text text-muted font-small ">Blanches, colorées</p>

              </div>

            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

              <!-- Card image -->
              <%= image_tag("pencil.jpg", class:"card-img-top", alt:"Card image cap") %> 
              <!-- Card content -->
              <div class="card-body">
          
                <p class="my-3"> Crayons et stylos </p>
                <p class="card-text text-muted font-small">Stylos à bille, crayons à papier, crayons de couleur, crayons feutres</p>

              </div>

            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

              <!-- Card image -->
              <%= image_tag("chalkboard.png", class:"card-img-top", alt:"Card image cap") %> 

              <!-- Card content -->
              <div class="card-body">
        
                <p class="my-3"> Ardoises et accessoires </p>
                <p class="card-text text-muted font-small mb-3">ardoises et chiffons, crayons ardoises ou craies</p>

              </div>

            </div>
            <!-- Card -->
            

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!--Panel 1-->

      <!--Panel 2-->
      <div class="tab-pane fade" id="panel32" role="tabpanel">
        <!-- Grid row -->
          <div class="row mx-4 my-4 justify-content-center">

            <!-- Grid column -->
            <div class="col-md-6 col-lg-3 mx-4">

              <!-- Card -->
              <div class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

                <!-- Card image -->
                <%= image_tag("sportbag.jpg", class:"card-img-top", alt:"Card image cap") %> 

                <!-- Card content -->
                <div class="card-body">

                  <p class="my-3"> Sport bag</p>
                  <p class="card-text text-muted font-small mb-3">Bon état ou neuf</p>

                </div>

              </div>
              <!-- Card -->

              <!-- Card -->
              <div class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

                <!-- Card image -->
                <%= image_tag("pingpong.jpg", class:"card-img-top", alt:"Card image cap") %> 

                <!-- Card content -->
                <div class="card-body">

                  <p class="my-3">Tennis de table</p>
                  <p class="card-text text-muted font-small mb-3">Balle et raquettes</p>

                </div>

              </div>
              <!-- Card -->

              <!-- Card -->
              <div class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

                <!-- Card image -->
                <%= image_tag("basket.jpg", class:"card-img-top", alt:"Card image cap") %> 
                <!-- Card content -->
                <div class="card-body">

                  <p class="my-3"> Chaussure de sport  </p>
                  <p class="card-text text-muted font-small mb-3">Taille enfant</p>

                </div>

              </div>
              <!-- Card -->

              <!-- Card -->
              <div class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

                <!-- Card image -->
                <%= image_tag("sportwear.jpg", class:"card-img-top", alt:"Card image cap") %> 

                <!-- Card content -->
                <div class="card-body">

                  <p class="my-3"> Maillot de sport </p>
                  <p class="card-text text-muted font-small mb-3">taille enfant</p>

                </div>

              </div>
              <!-- Card -->
              <!-- Grid column -->

              
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-lg-3">

              <!-- Card -->
              <div class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

                <!-- Card image -->
                <%= image_tag("game.jpg", class:"card-img-top", alt:"Card image cap") %> 

                <!-- Card content -->
                <div class="card-body">

                  <p class="my-3">Jeux éducatifs<p>
                  <p class="card-text text-muted font-small mb-3">animaux, nombres, saisons, alphabet)</p>

                </div>

              </div>
              <!-- Card -->

              <!-- Card -->
              <div class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

                <!-- Card image -->
                <%= image_tag("linebook.png", class:"card-img-top", alt:"Card image cap") %> 

                <!-- Card content -->
                <div class="card-body">

                  <p class="my-3">Cahier de brouillon</p>
                  <p class="card-text text-muted font-small mb-3">Bon état ou neuf</p>

                </div>

                
              </div>
              <!-- Card -->

              <!-- Card -->
              <div class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

                <!-- Card image -->
                <%= image_tag("painting.jpg", class:"card-img-top", alt:"Card image cap") %> 

                <!-- Card content -->
                <div class="card-body">

                  <p class="my-3"> Peinture </p>
                  <p class="card-text text-muted font-small mb-3">Tube de peinture, pinceaux, feuilles de peinture</p>

                </div>

              </div>
              <!-- Card -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-lg-3">

              <!-- Card -->
              <div class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

                <!-- Card image -->
                <%= image_tag("drawingbook.jpg", class:"card-img-top", alt:"Card image cap") %> 

                <!-- Card content -->
                <div class="card-body">

                  <p class="my-3">Livres de dessin </p>
                  <p class="card-text text-muted font-small "></p>

                </div>

              </div>
              <!-- Card -->

              <!-- Card -->
              <div class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

                <!-- Card image -->
                <%= image_tag("pencil.jpg", class:"card-img-top", alt:"Card image cap") %> 
                <!-- Card content -->
                <div class="card-body">
            
                  <p class="my-3"> Crayons et stylos </p>
                  <p class="card-text text-muted font-small">Stylos à bille, crayons à papier, crayons de couleur, crayons feutres</p>

                </div>

              </div>
              <!-- Card -->

              <!-- Card -->
              <div class="card hoverable mb-4" data-toggle="modal" data-target="#basicExampleModal">

                <!-- Card image -->
                <%= image_tag("chalkboard.png", class:"card-img-top", alt:"Card image cap") %> 

                <!-- Card content -->
                <div class="card-body">
          
                  <p class="my-3"> Ardoises et accessoires </p>
                  <p class="card-text text-muted font-small mb-3">ardoises et chiffons, crayons ardoises ou craies</p>

                </div>

              </div>
              <!-- Card -->
              

            </div>
            <!-- Grid column -->
            
          </div>  
        <!-- Grid row -->
        </div>  
      </div>
      <!--Panel 2-->

      <!--Panel 3-->
      
      <!--Panel 3-->


    </div>
    <!--Tab panels-->


  </section>
  <!-- Section -->

</div>