<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">GESTION DES COMMANDES</h1>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">COMMANDES</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Id</th>
            <th>Crée le</th>
            <th>Montant</th>
            <th>Utilisateur</th>
            <th></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Id</th>
            <th>Crée le</th>
            <th>Montant</th>
            <th>Utilisateur</th>
            <th></th>
          </tr>
        </tfoot>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.id %></td>
              <td><%= order.created_at.strftime("%d/%m/%Y") %></td>
              <td><%= order.products.sum(&:price) / 100 %>€</td>
              <td><%= link_to order.user.email, admin_user_path(order.user) %></td>
              <td>
                <%= link_to admin_order_path(order) do %>
                  <i class="fas fa-eye mr-2 fa-lg"></i>
                <%end%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
