<% content_for :title, "Mot de passe | Raidators" %>
<!-- Main navigation -->
<div class="container-fluid mt-3 mb-5 light-background-raidators">
  <h2>Modification du mot de passe</h2>
  <!-- Full Page Intro -->
  <section class:"edit-password">
    <!-- Mask & flexbox options-->
    <div class="col-lg-6 col-md-4 form-background-raidators">
      <!-- Content -->
      <div class="container py-5 my-5">
        <p class="lead text-center pt-2 mb-5">Veuillez remplir le formulaire ci-après pour modifier votre mot de passe.</p>
        <!--Grid row-->
        <div class="row d-flex align-items-center justify-content-center form-background-raidators">
          <!--Grid column-->
          <div class="col-md-6 col-xl-8">
            <!--Form-->
            <div class="card">
              <div class="card-body px-4">
                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                  <%= f.hidden_field :reset_password_token %>
                  <div class="field md-form form-control-raidators mt-3">
                    <%= f.label :password, "New password" %><br />
                    <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                    <% end %>
                    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-control form-control-raidators" %>
                  </div>
                  <div class="field md-form form-control-raidators mt-3">
                    <%= f.label :password_confirmation, "Confirmer le nouveau mot de passe" %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control form-control-raidators"  %>
                  </div>
                  <div class="actions text-center my-3">
                    <%= f.submit "Mettre à jour mon mot de passe", class:"btn btn-primary btn-dark-raidators" %>
                  </div>
                <% end %>
                <%= render "devise/shared/links" %>
              </div>
            </div>
            <!--/.Form-->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!--div background-->
  </section>
  <!-- Full Page Intro -->
</div>