    <div class="container mt-5">


      <!--Section: Content-->
      <section class="dark-grey-text">
    
        <div class="card">
          <div class="card-body">
    
            <!--Grid row-->
            <div class="row">
    
              <!--Grid column-->
              <div class="col-lg-8">
    
                <!-- Pills navs -->
                <ul class="nav md-pills nav-justified pills-primary font-weight-bold">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tabCheckoutBilling12" role="tab">1. Facture</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabCheckoutAddons12" role="tab">2. Produit</a>
                  </li>
                </ul>
    
                <!-- Pills panels -->
                <div class="tab-content pt-4">
    
                  <!--Panel 1-->
                  <div class="tab-pane fade in show active" id="tabCheckoutBilling123" role="tabpanel">
    
                    <!--Card content-->
                    <form>
    
                      <!--Grid row-->
                      <div class="row">
    
                        <!--Grid column-->
                        <div class="col-md-6 mb-4">

                        <%= form_for @address do |f|  %>

                          <!--firstName-->
                          <label for="firstName" class="">Nom</label>
                          <%= f.text_field :first_name, placeholder: 'Prénom', class:"form-control" %>
    
                        </div>
                        <!--Grid column-->
    
                        <!--Grid column-->
                        <div class="col-md-6 mb-2">
    
                          <!--lastName-->
                          <label for="lastName" class="">Prénom</label>
                          <%= f.text_field :first_name, placeholder: 'Nom', class:"form-control" %>
                          
    
                        </div>
                        <!--Grid column-->
    
                      </div>
                      <!--Grid row-->
    
                      <!--email-->
                      <label for="email" class="">Email</label>
                      <%= f.text_field :first_name, placeholder: 'Email', class:"form-control mb-4" %>
                      
    
                      <!--address-->
                      <label for="address" class="">Adresse</label>
                      <%= f.text_field :first_name, placeholder: 'Adresse', class:"form-control mb-4" %>
    
                      <!--address-2-->
                      <label for="address-2" class="">Adresse 2 (optionel)</label>
                      <%= f.text_field :first_name, placeholder: 'Adresse 2', class:"form-control mb-4" %>
    
                      <!--Grid row-->
                      <div class="row">
    
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-12 mb-4">
    
                          <label for="country">Pays</label>
                          <select class="custom-select d-block w-100" id="country" required>
                            <option value="">Choisir...</option>
                            <option>France</option>
                            <option>Autre</option>
                            
                          </select>
                          <div class="invalid-feedback">
                            Choisissez un pays
                          </div>
    
                        </div>
                        <!--Grid column-->
    
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4">
    
                          <label for="zip">Ville</label>
                          <%= f.text_field :first_name, placeholder: 'Ville', class:"form-control" %>
                          <div class="invalid-feedback">
                            Ville obligatoire
                          </div>
    
                        </div>
                        <!--Grid column-->
    
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4">
    
                          <label for="zip">Code postal</label>
                          <%= f.text_field :first_name, placeholder: "Code Postal", class:"form-control" %>
                          <div class="invalid-feedback">
                            Code postal obligatoire
                          </div>
                          
                        </div>
                        <!--Grid column-->
    
                      </div>
                      <!--Grid row-->
    
                      <hr>
    
                      <div class="mb-1">
                        <input type="checkbox" class="form-check-input filled-in" id="chekboxRules">
                        <label class="form-check-label" for="chekboxRules">J'accepte les termes et conditions de prévente</label>
                      </div>
                      <div class="mb-1">
                        <input type="checkbox" class="form-check-input filled-in" id="subscribeNewsletter">
                        <label class="form-check-label" for="subscribeNewsletter">En ne cochant pas ce bouton, vous nous donnez l'autorisation de vous envoyer des newsletters (pas beaucoup promis)</label>
                      </div>
    
                      <hr>
    
                      <button class="btn btn-success btn-md btn-rounded mx-0" type="submit">Etape suivante</button>
                      <% end %>
                    </form>
    
                  </div>
                  <!--/.Panel 1-->
    
                  <!--Panel 2-->
                  <div class="tab-pane fade" id="tabCheckoutAddons123" role="tabpanel">
    
                    <!--Grid row-->
                    <div class="row">
    
                      <!--Grid column-->
                      <div class="col-md-5 mb-4">
                        <% @cart.selected_products.each do |myproduct| %>
                        <img class="img-fluid z-depth-1-half" alt="Second sample image"> <%=myproduct.product.image_url %> </img>

    
    
                      </div>
                      <!--Grid column-->
    
                      <!--Grid column-->
                      <div class="col-md-7 mb-4">
    
                        <h3 class="mb-3 h3"><%= myproduct.product.title %></h3>
    
                        <p>Description</p>
    
                        <!--Name-->

                        <select class="mdb-select colorful-select dropdown-info">
                          <option value="" disabled>Quantité</option>
                          <option value="" selected> <%= myproduct.quantity %></option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                        </select>
    
                        <button type="button" class="btn btn-success btn-md btn-rounded mx-0">Ajouter les modifications</button>
                        <%= button_to 'Supprimer', myproduct, method: :delete, class: 'btn btn-danger btn-md btn-rounded mx-6'%>

    
                      </div>
                      <!--Grid column-->
    
                    </div>
                    <!--Grid row-->
    
                    <hr class="mb-5">
    
    
                    <hr class="mb-4">
    
                    <button class="btn btn-success btn-md btn-rounded mx-0" type="submit">Valider la commande</button>
    
                  </div>
                  <!--/.Panel 2-->
    
    
                </div>
                <!-- Pills panels -->
    
    
              </div>
              <!--Grid column-->
    
              <!--Grid column-->

              <div class="col-lg-4 mb-4">
    
                <button class="btn btn-success btn-lg btn-block" type="submit">Valider la commande</button>
                <%= render 'stripe' %>

                <!--Card-->
                <div class="card z-depth-0 border border-light rounded-0">
    
                  <!--Card content-->
                  <div class="card-body">
                    <h4 class="mb-4 mt-1 h5 text-center font-weight-bold">Résumé</h4>
    
                    <hr>
    
                    <dl class="row">
                      <dd class="col-sm-8">
                        <%= myproduct.product.title %>
                      </dd>
                      <dd class="col-sm-4">
                      <p><%= myproduct.product.price %>€</p>
                      </dd>
                    </dl>
                    <% end %>
        
                    <hr>

    
                    <% if @cart.selected_products.length != 0 %>
                    <dl class="row">
                      <dt class="col-sm-8">
                        Total
                      </dt>
                      <dt class="col-sm-4">
                        <%= @cart.total %> €
                      </dt>
                    </dl>
                     <% else %>
                      <p> Votre panier est vide </p>
                    <% end %>



                  </div>
    
                </div>
                <!--/.Card-->
    
    
    
              </div>
              <!--Grid column-->
    
            </div>
            <!--Grid row-->
    
          </div>
        </div>
    
      </section>
      <!--Section: Content-->
    
    
    </div>
