<h1>Mon Panier </h1>
  <ul>
    <% @cart.selected_products.each do |myproduct| %>
      <h3><%= myproduct.product.title %></h3>
      <img> <%=myproduct.product.image_url %></img>
      <li> Quantité : <%= myproduct.quantity %></li>
      <p><%= myproduct.product.price %>€</p>
      <%= button_to 'Supprimer', myproduct, method: :delete, class: 'btn btn-danger'%>
      <% end %>
    </ul>
    
    <% if @cart.selected_products.length != 0 %>
    <div class="container mt-5">
      <div class="card mt-2 mb-3 text-center card-center">
        <h5 class="mb-4 action-banner" >Prix total : <%= @cart.total %> €</h5>
    <% else %>
        <p> Votre panier est vide </p>
    <% end %>
    </div>
    
    <div class="container mt-5 mb-3 text-center w-50 card-center">
    <div id="stripe" class="mt-2">
      <%= render 'stripe' %>
    </div>
    </div> 

    <%= render 'web_cart' %>
