<h1>Carts#show</h1>
  <ul>
    <% cart.selected_products.each do |myproduct| %>
      <h3><%= myproduct.product.title %></h3>
      <img> <%=image_tag myproduct.item.image_url %></img>
      <li> Quantité : <%= myproduct.quantity %></li>
      <p><%= myproduct.product.price %>€</p>
      <%= button_to 'Supprimer', product, method: :delete, class: 'btn btn-danger'%>
      <% end %>
    </ul>
    
    <% if @cart.selected_products.length != 0 %>
    <div class="container mt-5">
      <div class="card mt-2 mb-3 text-center card-center">
        <h5 class="mb-4 action-banner" >Prix total : <%= @cart.total %> €</h5>
    <% else %>
        <p> Votre panier est vide </p>
    <% end %>
    </div>
