<h1>Addresses#show</h1>
<p>Find me in app/views/addresses/show.html.erb</p>

<h2>Prénom <%= @address.first_name %> </h2>
<h2>Nom  : <%= @address.last_name %> </h1>
<h2> Numéro de Rue : <%= @address.street_number %> </h2>
<h2> Rue : <%= @address.street %> </h2>
<h2> Code Postal : <%= @address.zip_code %> </h2>
<h2> Ville: <%= @address.city %> </h2>
<h2> Pays : <%= @address.country %> </h2>
<h2> Numéros de téléphone : <%= @address.phone_number %> </h2>
<h2> Nom d'entreprise: <%= @address.company_name %> </h2>



