<h1>Blog</h1>
<button class="btn-primary" type="submit"> <%= link_to "nouvel article", new_post_path %></button>

<% @posts.each do |post| %>
  <p> Titre <%= post.title %></p>
  <p><%= post.content %></p>
  <button class="btn-primary" type="submit"> <%= link_to "article complet", post_path(post.id) %></button>
  <button class="btn-primary" type="submit"> <%= link_to "modifier l'article", edit_post_path(post.id) %></button>
<%end%>


<%# <%= render 'list_articles' %>