<!DOCTYPE html>
<html>
  <head>
     <title><%= yield(:title) %></title>
    <meta charset="utf-8">
      <%= stylesheet_link_tag 'application', media: 'all' %>
      <%= javascript_include_tag 'application'%>

      <%= favicon_link_tag asset_path('cheetah.png') %>
      <script src="https://js.stripe.com/v3/"></script>

      <%= favicon_link_tag asset_path('cheetah.png') %>
      <script src="https://kit.fontawesome.com/17892e5f3b.js" crossorigin="anonymous"></script>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body id="page-top">
    <div id="wrapper">
      <%= render 'layouts/admin/sidebar' %>

      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <%= render 'layouts/admin/topbar' %>
          <%= render 'layouts/flash' %>
            <div class="container-fluid">
              <%= yield %>
            </div>
          <%= render 'layouts/admin/footer' %>
        </div>
      </div>

      <a class="scroll-to-top rounded" href="#page-top">
          <i class="fas fa-angle-up"></i>
      </a>

    </div>

  </body>

</html>
