<!DOCTYPE html>
<html>
  <head>
    <title>RaidatorsProject</title>
    <meta charset="utf-8">

      <%= stylesheet_link_tag 'application', media: 'all' %>
      <%= javascript_include_tag 'application'%>
      <%= favicon_link_tag asset_path('cheetah.png') %>    


  </head>
  <%= csrf_meta_tags %>
  <body>
    <%= render 'layouts/navbar' %>
      <!-- MESSAGES -->
      <%= render 'layouts/flash' %>
      <!-- CONTENU DE LA PAGE -->
      <%= yield %>
      <!-- FOOTER-->
    <%= render 'layouts/footer' %>
  </body>
      <script src="https://kit.fontawesome.com/17892e5f3b.js" crossorigin="anonymous"></script>
</html>