<!DOCTYPE html>
<html>
  <head>
    <title>RaidatorsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  <% if current_user %>
<p> Connecté </p>
  <% end %>


    <%= render 'layouts/navbar' %>

    <%= yield %>
    <%= render 'layouts/footer' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
